Home Assistant with NodeRED/flows (11).json
[
    {
        "id": "408e021e2e8d5798",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b54311925839c07",
        "type": "inject",
        "z": "408e021e2e8d5798",
        "name": "Attach Direction1 Poll Here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "windDirection",
        "payload": "330",
        "payloadType": "num",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "f4899ab008b66389"
            ]
        ]
    },
    {
        "id": "2f64101efd6b338c",
        "type": "function",
        "z": "408e021e2e8d5798",
        "name": "Wind Direction and Speed Check for Switch 1",
        "func": "var windDirection = msg.payload.windDirection;\nvar windSpeed = msg.payload.windSpeed;\nvar currentTime = Date.now();\n\nvar statusCode = flow.get('statusCode_S1');\nvar startTimestamp = flow.get('startTimestamp_S1');\n\nif (windSpeed > 5 && windDirection >= 310 && windDirection <= 360) {\n    if (statusCode !== 200) {\n        flow.set('statusCode_S1', 200);\n        flow.set('startTimestamp_S1', currentTime);\n    }\n} else if (windSpeed < 1) {\n    if (statusCode !== 400) {\n        flow.set('statusCode_S1', 400);\n        flow.set('startTimestamp_S1', currentTime);\n    }\n} else {\n    flow.set('statusCode_S1', null);\n    flow.set('startTimestamp_S1', null);\n}\nmsg.payload = statusCode;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "281272fe8988cc55",
                "7063e0675e941567"
            ]
        ]
    },
    {
        "id": "f4899ab008b66389",
        "type": "join",
        "z": "408e021e2e8d5798",
        "name": "Join for S1",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "2f64101efd6b338c",
                "e586f3352cab4a01"
            ]
        ]
    },
    {
        "id": "281272fe8988cc55",
        "type": "function",
        "z": "408e021e2e8d5798",
        "name": "Sustained Check for Switch 1",
        "func": "var statusCode = flow.get('statusCode_S1');\nvar startTimestamp = flow.get('startTimestamp_S1');\nvar currentTime = Date.now();\n\nif (statusCode === 200 && currentTime - startTimestamp >= 20000) {\n    // Code 200 sustained for 10 seconds, turn on the switch\n    msg.payload = \"Switch 1 ON\";\n    return [msg, null];\n} else if (statusCode === 400 && currentTime - startTimestamp >= 20000) {\n    // Code 400 sustained for 10 seconds, turn off the switch\n    msg.payload = \"Switch 1 OFF\";\n    return [null, msg];\n} else {\n    return [null, null]; // No action needed\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "flow.set('startTimestamp_S1', null);\nflow.set('statusCode_S1', null);",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 360,
        "wires": [
            [
                "fc2e5d5a570f6993"
            ],
            [
                "e65b56c6b349539b"
            ]
        ]
    },
    {
        "id": "8e52574befb22687",
        "type": "inject",
        "z": "408e021e2e8d5798",
        "name": "Attach Speed1 Poll Here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "windSpeed",
        "payload": "0.5",
        "payloadType": "num",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "f4899ab008b66389"
            ]
        ]
    },
    {
        "id": "e586f3352cab4a01",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Join S1 Inputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee9129432a5d74be",
        "type": "function",
        "z": "408e021e2e8d5798",
        "name": "Wind Direction and Speed Check for Switch 2",
        "func": "var windDirection = msg.payload.windDirection;\nvar windSpeed = msg.payload.windSpeed;\nvar currentTime = Date.now();\n\nvar statusCode = flow.get('statusCode_S2');\nvar startTimestamp = flow.get('startTimestamp_S2');\n\nif (windSpeed > 5 && windDirection >= 135 && windDirection <= 225) {\n    if (statusCode !== 200) {\n        flow.set('statusCode_S2', 200);\n        flow.set('startTimestamp_S2', currentTime);\n    }\n} else if (windSpeed < 1) {\n    if (statusCode !== 400) {\n        flow.set('statusCode_S2', 400);\n        flow.set('startTimestamp_S2', currentTime);\n    }\n} else {\n    flow.set('statusCode_S2', null);\n    flow.set('startTimestamp_S2', null);\n}\nmsg.payload = statusCode;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "var startTimestamp = flow.get('startTimestamp_S2');\nflow.set('startTimestamp_S2', null);",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "b52e7c2024efb365",
                "91acedcd55543263"
            ]
        ]
    },
    {
        "id": "d59a794ea053ccec",
        "type": "join",
        "z": "408e021e2e8d5798",
        "name": "Join for S2",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "ee9129432a5d74be",
                "f62f0b4df32aa514"
            ]
        ]
    },
    {
        "id": "011edbf806e47e15",
        "type": "inject",
        "z": "408e021e2e8d5798",
        "name": "Attach Speed Poll2 Here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "windSpeed",
        "payload": "6",
        "payloadType": "num",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "d59a794ea053ccec"
            ]
        ]
    },
    {
        "id": "f62f0b4df32aa514",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Join S1 Inputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "74dc6e5efdf53921",
        "type": "inject",
        "z": "408e021e2e8d5798",
        "name": "Attach Direction Poll2 Here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "windDirection",
        "payload": "150",
        "payloadType": "num",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "d59a794ea053ccec"
            ]
        ]
    },
    {
        "id": "fc2e5d5a570f6993",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Attach Switch 1 ON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "e65b56c6b349539b",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Attach Switch 1 OFF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "b52e7c2024efb365",
        "type": "function",
        "z": "408e021e2e8d5798",
        "name": "Sustained Check for Switch 1",
        "func": "var statusCode = flow.get('statusCode_S2');\nvar startTimestamp = flow.get('startTimestamp_S2');\nvar currentTime = Date.now();\n\nif (statusCode === 200 && currentTime - startTimestamp >= 20000) {\n    // Code 200 sustained for 10 seconds, turn on the switch\n    msg.payload = \"Switch 2 ON\";    \n    return [msg, null];\n} else if (statusCode === 400 && currentTime - startTimestamp >= 20000) {\n    // Code 400 sustained for 10 seconds, turn off the switch\n    msg.payload = \"Switch 2 OFF\";\n    return [null, msg];\n} else {\n    return [null, null]; // No action needed\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "flow.set('startTimestamp_S2', null);\nflow.set('statusCode_S2', null);",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "0b956cb53d3c893c"
            ],
            [
                "973a9a39bcb94750"
            ]
        ]
    },
    {
        "id": "0b956cb53d3c893c",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Attach Switch 2 ON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "973a9a39bcb94750",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Attach Switch 2 OFF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "7063e0675e941567",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Status Code S1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "91acedcd55543263",
        "type": "debug",
        "z": "408e021e2e8d5798",
        "name": "Status Code S2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 520,
        "wires": []
    }
]